table {
    font-size: large;
}

tr.row1 {
    font-size: x-large;
    font-weight: bold;
}

tr.row2 {
    padding-bottom: 2px;
}

tr.row3 {
    padding-top: 2px;
}

td.column1 {
    width: 220px;
}

td.column2 {
    text-align: right;    
}

td {
    text-align: left;
    padding-top: 10px;
}

#btnLogin {
    width: 70px;
    height: 30px;
}
